<%- include("layout/header"); %>
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark text-center">
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th><img src="" alt=""></th>
                        <th>Per</th>
                        <th>hola@per.com</th>
                        <th>555555</th>
                        <th class="text-center">
                            <a href="" class="text-success"><i class="fas fa-edit da-lg mx-1"></i></a>
                            <a href="" class="text-danger"><i class="fas fa-trash da-lg mx-1"></i></a>
                        </th>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
  </div>
</div>
<%- include ("layout/footer"); %>
